<div class='row align-center' data-post-id='{{id}}'>

  <div class='p-3 border bg-light'>
    <form id='post-form'>
      <input type='hidden' value='{{user_id}}' id='user_id-post' />
      <div class='mb-3'>
        <label for='title-post' class='form-label'>Title</label>
        <input
          type='text'
          class='form-control'
          value={{title}}
          id='title-post'
          required
        />
      </div>
      <div class='mb-3'>
        <label for='content-post' class='form-label'>Post</label>
        <textarea
          class='form-control'
          id='content-post'
          rows='3'
          required
        >{{content}}</textarea>
      </div>

      <button type='submit' class='btn btn-primary' id='addPost'>Add Post</button>
    </form>
  </div>

  <div class='col-md-8'>
    <h2 class='title'>{{{get_emoji id}}} {{title}}</h2>
  </div>
  <div class='col-md-4'>
    <span class='soft'>posted by</span>
    {{user.username}}
    <br />
    {{moment createdAt 'dddd, MMMM D, YYYY'}}</div>
  <div class='col-md-12'>
    <textarea>{{content}}</textarea>
  </div>
</div>